<div class="leftSide" style="visibility:hidden">
  <!-- placeholder  -->
  placeholder
</div>
<div class="middlePart midform">

  <div ng-repeat="table in edit.tables">
    <label>{{table.name}}</label>
    <pre>{{edit[table.name] | json}}</pre>
    <form>
    <div ng-repeat="field in table.fields">
      {{field.name}} <input type="text" ng-model="formData[table.name][field.name]">
      <br />
  </div>
  <button type="submit" class="btn btn-primary btn-lg" ng-click="createElement(table.name)">Add</button>
      </form>
      <hr />
    </div>
  <hr/>
  <hr/>
  <hr/>
    <div ng-repeat="table in check.tables">
      <label>{{table.name}}</label>
      <pre>{{check[table.name] | json}}</pre>
        <hr />
      </div>
  </div>

  <div class="rightSide">
  </div>
