<div class="form-group">
<label>Strategic evaluation</label><br />
<table>
  <td class="inTwo">
  Is the project part of BBP objectives:
  </td>
  <td class="inTwo">
  <input type="radio" name="bbpObjective" value="1" ng-model="review.bbpObjective" style="margin:10px">Yes
  <input type="radio" name="bbpObjective" value="0" ng-model="review.bbpObjective" style="margin:10px">No
  </td>
</table>
<table>
  <td class="inTwo">
    Is the project part of other contracted projects:
    </td>
    <td class="inTwo">
  <input type="radio" name="contractedProject" value="1" ng-model="review.contractedProject" style="margin:10px">Yes
  <input type="radio" name="contractedProject" value="0" ng-model="review.contractedProject" style="margin:10px">No
  </td>
</table>
<table>
  <td class="inTwo">
    Evaluate the possible level of impact of the project:
    </td>
    <td class="inTwo">
<input type="radio" name="impact" value="0" ng-model="review.impact" style="margin:10px">Low
<input type="radio" name="impact" value="1" ng-model="review.impact" style="margin:10px">Medium
<input type="radio" name="impact" value="2" ng-model="review.impact" style="margin:10px">High
<input type="radio" name="impact" value="3" ng-model="review.impact" style="margin:10px">Very High
</td>
</table>
<table>
  <td class="inTwo">
    Level of criticality of the project for BBP:
    </td>
    <td class="inTwo">
<input type="radio" name="criticality" value="0" ng-model="review.criticality" style="margin:10px">Low
<input type="radio" name="criticality" value="1" ng-model="review.criticality" style="margin:10px">Medium
<input type="radio" name="criticality" value="2" ng-model="review.criticality" style="margin:10px">High
<input type="radio" name="criticality" value="3" ng-model="review.criticality" style="margin:10px">Very High
</td>
</table>
</div>

<br />

<div class="form-group">
<label>Project Plan</label><br />
<p>Grade from 1 to 3, 3 being the best. <br /></p>
<table>
  <td class="inTwo">
Is the goal of the project clearly defined ?
</td>
<td class="inTwo">
<input type="radio" name="goal" value="1" ng-model="review.goal" style="margin:10px">1
<input type="radio" name="goal" value="2" ng-model="review.goal" style="margin:10px">2
<input type="radio" name="goal" value="3" ng-model="review.goal" style="margin:10px">3
</td>
</table>
<table>
<td class="inTwo">
Are the milestones and deliverables meaningful ?
</td>
<td class="inTwo">
<input type="radio" name="meaningful" value="1" ng-model="review.meaningful" style="margin:10px">1
<input type="radio" name="meaningful" value="2" ng-model="review.meaningful" style="margin:10px">2
<input type="radio" name="meaningful" value="3" ng-model="review.meaningful" style="margin:10px">3
</td>
</table>
<table>
<td class="inTwo">
Are the milestones and deliverables achievable ?
</td>
<td class="inTwo">
<input type="radio" name="achievable" value="1" ng-model="review.achievable" style="margin:10px">1
<input type="radio" name="achievable" value="2" ng-model="review.achievable" style="margin:10px">2
<input type="radio" name="achievable" value="3" ng-model="review.achievable" style="margin:10px">3
</td>
</table>
<table>
<td class="inTwo">
Are the requirements clearly defined ?
</td>
<td class="inTwo">
<input type="radio" name="requirements" value="1" ng-model="review.requirements" style="margin:10px">1
<input type="radio" name="requirements" value="2" ng-model="review.requirements" style="margin:10px">2
<input type="radio" name="requirements" value="3" ng-model="review.requirements" style="margin:10px">3
</td>
</table>
</div>
<br />
<div class="form-group">
<label>Resource</label><br />
<table>
  <td class="inTwo">
Is the project already funded by an existing or upcoming grant
</td>
<td class="inTwo">
<input type="radio" name="grant" value="1" ng-model="review.grant" style="margin:10px">Yes
<input type="radio" name="grant" value="0" ng-model="review.grant" style="margin:10px">No
</td>
</table>
<table>
<td class="inTwo">
Is the level of human resource appropriate
</td>
<td class="inTwo">
<input type="radio" name="hr" value="1" ng-model="review.hr" style="margin:10px">Yes
<input type="radio" name="hr" value="0" ng-model="review.hr" style="margin:10px">No
</td>
</table>
<div ng-show="review.hr == 0">
If No, explain why (200 words max)<br />
<textarea class='form-control' ng-model="review.badhr" maxlength="2000"></textarea><br />
</div>
<table>
<td class="inTwo">
Is the level of computing resource appropriate
</td>
<td class="inTwo">
<input type="radio" name="computing" value="1" ng-model="review.computing" style="margin:10px">Yes
<input type="radio" name="computing" value="0" ng-model="review.computing" style="margin:10px">No
</td>
</table>
<div ng-show="review.computing == 0">
If No, explain why (200 words max)<br />
<textarea class='form-control' ng-model="review.badcomputing" maxlength="2000"></textarea><br />
</div>
<table>
<td class="inTwo">
Does the team have enough skill set to deliver the defined milestones:
</td>
<td class="inTwo">
<input type="radio" name="skill" value="1" ng-model="review.skill" style="margin:10px">1
<input type="radio" name="skill" value="2" ng-model="review.skill" style="margin:10px">2
<input type="radio" name="skill" value="3" ng-model="review.skill" style="margin:10px">3
</td>
</table>
TODO If not, please suggest additional members or team (ici tu rajoutes les champs pour pouvoir rajouter des gens/equipes comme pour la partie "membres")
<table>
<td class="inTwo">
Evaluate track record of the PI/Co-PIs for project management
</td>
  <td class="inTwo">
<input type="radio" name="trackRecord" value="0" ng-model="review.trackRecord" style="margin:10px">Low
<input type="radio" name="trackRecord" value="1" ng-model="review.trackRecord" style="margin:10px">Medium
<input type="radio" name="trackRecord" value="2" ng-model="review.trackRecord" style="margin:10px">High
<input type="radio" name="trackRecord" value="3" ng-model="review.trackRecord" style="margin:10px">Very High
</td>
</table>
</div><br />

<div class="form-group">
<label>General comments & recommendation</label><br />
<table>
  <td class="inTwo">
Total
</td>
<td class="inTwo">
  <input type="number" ng-model="review.total">
</td>
</table>
<table>
<td class="inTwo">
Evaluate level of risks of the project execution:
</td>
  <td class="inTwo">
<input type="radio" name="risks" value="0" ng-model="review.risks" style="margin:10px">Low
<input type="radio" name="risks" value="1" ng-model="review.risks" style="margin:10px">Medium
<input type="radio" name="risks" value="2" ng-model="review.risks" style="margin:10px">High
<input type="radio" name="risks" value="3" ng-model="review.risks" style="margin:10px">Very High
</td>
</table>
<table>
<td class="inTwo">
Reviewer recommendation
</td>
  <td class="inTwo">
<input type="radio" name="recommendation" value="3" ng-model="review.recommendation" style="margin:10px">Strongly accept
<input type="radio" name="recommendation" value="2" ng-model="review.recommendation" style="margin:10px">Accept
<input type="radio" name="recommendation" value="1" ng-model="review.recommendation" style="margin:10px">Weakly accept
<input type="radio" name="recommendation" value="0" ng-model="review.recommendation" style="margin:10px">Reject
<input type="radio" name="recommendation" value="-1" ng-model="review.recommendation" style="margin:10px">Strongly reject
</td>
</table>
Comments (300 words max, general comments/how to improve proposal)<br />
<textarea class='form-control' ng-model="review.comments" maxlength="3000"></textarea>
</div>
