<div id="proposal">
  <label>Comments</label>
  <ul>
    <li>Comment 1: Blablabla</li>
      <li>Comment 2: Blablabla</li>
        <li>Comment 3: Blablabla</li>
  </ul>
  <div class="rightAligned">
    <div class="btn btn-default" onclick="goTo(this);">See more comments</div>
  </div>
</div>
<hr />
<div id="note">
  <label>Notes</label>
  <ul>
    <li>Note 1: Blablabla</li>
      <li>Note 2: Blablabla</li>
        <li>Note 3: Blablabla</li>
  </ul>
  <div class="rightAligned">
  <div class="btn btn-default" onclick="goTo(this);">See more notes</div></div>
</div>
<hr />
<div id="summary">
  <label>Summary</label>
  <ul>
    <li>Z reviews </li>
    <li>X comments</li>
      <li>Y notes</li>
  </ul>
  <br />
  <div class="centeredText">Grade A<div>
    <br />

</div>

<script>
function goTo(div){
  var _open = window.open(window.location.href +'/'+ div.parentNode.parentNode.id, "_self");
}
</script>
