<div class="publicationList" data-ng-model="record.publications" >
  <div ng-repeat="svPair in record.publications">
    <div>
      <!--<pre>{{ngModel|json}}</pre>-->
      <div onclick="updateBubble(this,'Name of the publication.')">
        Name
        <input type="text"
        placeholder="Publication name"
        ng-required="record.projectType >= 2" ng-model="svPair.name">
      </div>
      <div onclick="updateBubble(this,'Link to the publication, if exists.<br />Format: <i>\'http:\\\\the.address.com\'</i>')">
        Link
        <input type="URL" class="form-control"
        placeholder="Link to publication"
        ng-required="record.projectType >= 2" ng-model="svPair.link">
      </div>
      <div>
        <div button type="button" class="close" aria-label="Remove" ng-click="deletePublication(svPair)">
          <span aria-hidden="true">&times;</span>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>
<div class="btn btn-default" ng-click="addPublication()">Add a publication</div>
