<div ng-show="data.select.loaded">
  <label>
    Review
  </label><br />

  <input id="whole" type="checkbox" class="plusMinus" ng-model="whole" checked>
  <label for="whole" class="css-label"><span class="glyphicon glyphicon-plus"></span>
    <span class="glyphicon glyphicon-minus"></span> Whole Project
  </label>
  <div ng-show="whole" class="p10">

    <input id="s" type="checkbox" class="plusMinus" ng-model="s" checked>
    <label for="s" class="css-label"><span class="glyphicon glyphicon-plus"></span>
      <span class="glyphicon glyphicon-minus"></span> Summary
    </label>
    <div ng-show="s">
      <div id="projectTitle" class="form-group" ng-click="updateBubble($event);">
        <label>Project Title</label>
        <div>
          <input type="text" readonly value="{{data.select.proposal.projectTitle}}">
        </div>
      </div>

      <table width="100%">
        <td class="inTwo">
          <div id="projectStartDate" class="form-group" ng-click="updateBubble($event);">
            <label>Project Start Date</label><br />
            <input type="date" readonly value="{{data.select.proposal.projectStartDate | date:'yyyy-MM-dd'}}">
          </div>
        </td>
        <td class="inTwoEmptySeparator">
        </td>
        <td class="inTwo">
          <div id="projectEndDate" class="form-group" ng-click="updateBubble($event);">
            <label>Project End Date</label><br />
            <input type="date" readonly value="{{data.select.proposal.projectEndDate | date:'yyyy-MM-dd'}}">
          </div>
        </td>
      </table>
      <div ng-class="{hideOld: data.select.proposal.newproject!='false'}">
        <label>New project</label><br />
        <div>
          <div id="previousProjectTitle" class="form-group" ng-click="updateBubble($event);">
            <label>Previous Project Title</label>
            <div>
              <input type="text" readonly value="{{data.select.proposal.previousProject.title}}">
            </div>
          </div><!-- project Title -->
          <div id="previousProjectId" class="form-group" ng-click="updateBubble($event);">
            <label>Previous Project ID</label>
            <div>
              <input type="text" readonly value="{{data.select.proposal.previousProject.id}}">
            </div>
          </div><!-- project Title -->
          <div id="previousProjectPi" class="form-group" ng-click="updateBubble($event);">
            <label>Previous Project Principal Investigator</label>
            <div>
              <input type="text" readonly value="{{data.select.proposal.previousProject.pi}}">
            </div>
          </div>
        </div>
      </div>

      <div class="form-group" id="grants" ng-click="updateBubble($event);" ng-show="data.select.proposal.projectType >= 1">
        <label>Grants</label>
        <ul ng-show="data.select.proposal.grants.length">
          <li ng-repeat="grant in data.select.proposal.grants">{{grant}}</li>
        </ul>
        <span ng-hide="data.select.proposal.grants.length" class="nonePadding"><br />None<br /></span>
      </div>

      <div class="form-group" id="tasks" ng-click="updateBubble($event);" ng-show="data.select.proposal.projectType >= 1">
        <label>Tasks</label>
        <ul ng-show="data.select.proposal.tasks.length">
          <li ng-repeat="tasks in data.select.proposal.tasks">{{tasks.name}} - <i>{{tasks.grant}}</i></li>
        </ul>
        <span ng-hide="data.select.proposal.tasks.length" class="nonePadding"><br />None<br /></span>
      </div>

      <div class="form-group" id="keywords" ng-click="updateBubble($event);">
        <label>Project Key Words</label>
        <ul ng-show="data.select.proposal.tags.length">
          <li ng-repeat="tag in data.select.proposal.tags">{{tag.name}}</li>
        </ul>
        <span ng-hide="data.select.proposal.tags.length" class="nonePadding"><br />None<br /></span>
      </div>

      <div class="form-group" id="executiveSummary" ng-click="updateBubble($event);">
        <label ng-show="data.select.proposal.projectType >= 1">Executive Summary</label><label ng-show="data.select.proposal.projectType == 0">Project Summary</label>
        <div>
          <textarea readonly>{{data.select.proposal.executiveSummary}}</textarea>
        </div>
      </div>

      <div class="form-group" id="impactStatement" ng-click="updateBubble($event);">
        <label>Impact Statement</label>
        <div>
          <textarea readonly>{{data.select.proposal.impactStatement}}</textarea>
        </div>
      </div>

      <div class="form-group" id="benefitToCommunity" ng-click="updateBubble($event);" ng-show="data.select.proposal.projectType >= 2" >
        <label>Benefit to Community</label>
        <div>
          <textarea readonly>{{data.select.proposal.benefitToCommunity}}</textarea>
        </div>
      </div>

      <div class="form-group" id="scientificSummary" ng-click="updateBubble($event);" ng-show="data.select.proposal.projectType >= 2" >
        <label>Scientific Summary</label>
        <div>
          <textarea readonly>{{data.select.proposal.scientificSummary}}</textarea>
        </div>
      </div>

      <div class="form-group" id="technologicalSummary" ng-click="updateBubble($event);" ng-show="data.select.proposal.projectType >= 1" >
        <label ng-show="data.select.proposal.projectType > 1">Technological Summary</label><label ng-show="data.select.proposal.projectType == 1">Scientific/Technological Summary</label>
        <div>
          <textarea readonly>{{data.select.proposal.technologicalSummary}}</textarea>
        </div>
      </div>

      <div class="form-group" id="publications" ng-click="updateBubble($event);" ng-show="data.select.proposal.publications.length">
        <label>Publications</label>
        <ul>
          <li ng-repeat="pub in data.select.proposal.publications" ng-show="pub.name">{{pub.name}}<span ng-show="pub.link">{{pub.link}}</span></li>
        </ul>
      </div>


      <div class="form-group" id="relatedProjects" ng-click="updateBubble($event);" ng-show="data.select.proposal.relatedProjects.length">
        <label>Related Projects</label>
        <ul>
          <li ng-repeat="proj in data.select.proposal.relatedProjects" ng-show="proj.name"><b>{{proj.name}}</b> <br />{{proj.startDate| date:'EEE. dd MMM. yy'}} - {{proj.endDate| date:'EEE. dd MMM. yy'}}<br /> <i>{{proj.description}}</i></li>
        </ul>
      </div>
    </div>
    <hr />

    <input id="r" type="checkbox" class="plusMinus" ng-model="r" checked>
    <label for="r" class="css-label"><span class="glyphicon glyphicon-plus"></span>
      <span class="glyphicon glyphicon-minus"></span> Requirements
    </label>
    <div ng-show="r">
      <div>
        <div class="form-group" id="usecase" ng-click="updateBubble($event);">
          <label>Usecase</label>
          <textarea readonly>{{data.select.proposal.usecase}}</textarea>
        </div>
        <div class="form-group"ng-show="data.select.proposal.requirements.length">
          <label>Requirements</label>
          <ul>
            <li ng-repeat="req in data.select.proposal.requirements">
              <div id="typeTitle_{{$index}}" ng-click="updateBubble($event);"><b>[{{req.type.name}}] <i>{{req.title}}</i></b> </div>
              <div id="definition_{{$index}}" ng-click="updateBubble($event);"><u>Definition:</u> {{req.requirement}}</div>
              <div id="definition_{{$index}}" ng-click="updateBubble($event);" ng-show="data.select.proposal.projectType >= 1"><u>Feature of interest:</u> {{req.feature}}<br /></div>
              <div class="form-group" ng-show="req.input.length">
                <u>Inputs:</u>
                <ul>
                  <li ng-repeat="inp in req.input">
                    <div id="inputTypeTitle_{{$parent.$index}}_{{$index}}" ng-click="updateBubble($event);">[{{inp.format.name}}] <i>{{inp.tag}}</i></div>
                    <div id="inputNumberSize_{{$parent.$index}}_{{$index}}" ng-click="updateBubble($event);">{{inp.number}} artifacts of size: {{inp.size}}</div>
                  </li>
                </ul>
              </div>
              <div class="form-group" ng-click="updateBubble($event);" ng-show="req.output.length">
                <u>Outputs:</u>
                <ul>
                  <li ng-repeat="out in req.output">
                    <div id="inputTypeTitle_{{$parent.$index}}_{{$index}}" ng-click="updateBubble($event);">[{{out.format.name}}] <i>{{out.tag}}</i></div>
                    <div id="inputNumberSize_{{$parent.$index}}_{{$index}}" ng-click="updateBubble($event);">{{out.number}} artifacts of size: {{out.size}}</div>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>


    <hr />

    <div ng-show="data.select.proposal.projectType >= 1" >
      <input id="comp" type="checkbox" class="plusMinus" ng-model="comp" checked>
      <label for="comp" class="css-label"><span class="glyphicon glyphicon-plus"></span>
        <span class="glyphicon glyphicon-minus"></span> Computing, Storage and Services resources
      </label>
      <div ng-show="comp">


        <div class="p10-5">
          <label>Software as a Service (SaaS)</label>
          <div class="p10">
            <table width="100%">
              <tr>
                <td class="inTwo" id="soft_dev" ng-click="updateBubble($event);">
                  <u>Software development</u>
                  <ul ng-show="data.summ.softdev.length">
                    <li ng-repeat="soft in data.summ.softdev">{{soft.name}}</li>
                  </ul>
                  <span ng-hide="data.summ.softdev.length" class="nonePadding"><br />None<br /></span>
                </td>
                <td class="inTwoEmptySeparator">
                </td>
                <td class="inTwo" id="data_transfer" ng-click="updateBubble($event);">
                  <u>Data Transfer</u>
                  <ul ng-show="data.summ.datatransfer.length">
                    <li ng-repeat="soft in data.summ.datatransfer">{{soft.name}}</li>
                  </ul>
                  <span ng-hide="data.summ.datatransfer.length" class="nonePadding"><br />None<br /></span>
                </td>
              </tr>
            </table>
            <div id="collab" ng-click="updateBubble($event);">
            <u>HBP Collab</u>
            <ul ng-show="data.summ.collabs.length">
              <li ng-repeat="collab in data.summ.collabs">{{collab.title}}</li>
            </ul>
            <span ng-hide="data.summ.collabs.length" class="nonePadding"><br />None<br /></span>
          </div>
          </div>
        </div>
        <div class="p10-5">
          <label>Platform as a Service (PaaS)</label>
          <div class="p10">
            <table width="100%">
              <tr>
                <td class="inTwo" id="virtualization" ng-click="updateBubble($event);">
                  <u>Virtualization</u>
                  <ul ng-show="data.summ.virtualization.length">
                    <li ng-repeat="soft in data.summ.virtualization">{{soft.name}}</li>
                  </ul>
                  <span ng-hide="data.summ.virtualization.length" class="nonePadding"><br />None<br /></span>
                </td>
                <td class="inTwoEmptySeparator">
                </td>
                <td class="inTwo" id="dev_env" ng-click="updateBubble($event);">
                  <u>Development environment</u>
                  <ul ng-show="data.summ.devenv.length">
                    <li ng-repeat="soft in data.summ.devenv">{{soft.name}}</li>
                  </ul>
                  <span ng-hide="data.summ.devenv.length" class="nonePadding"><br />None<br /></span>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="p10-5">
          <label>Infrastructure as a Service (IaaS)</label>
          <div ng-show="data.select.proposal.projectType == 1">
            <table width="100%" class="hpcList p10" ng-show="data.select.proposal.projectType == 1" >
              <td class="inTwo">
                <div class="form-group" id="hpcSilv" ng-click="updateBubble($event);">
                  <input type="checkbox" ng-model="data.summ.hpcRessource" disabled="disabled"> HPC Ressources
                </div>
              </td>
              <td class="inTwoEmptySeparator">
              </td>
              <td class="inTwo">
                <div class="form-group" id="cloudSilv" ng-click="updateBubble($event);">
                  <input type="checkbox" ng-model="data.summ.cloudRessource" disabled="disabled"> Cloud Ressources
                </div>
              </td>
            </table>
          </div>
          <div class="p10" ng-show="data.select.proposal.projectType >= 2" >
            <div ng-click="updateBubble($event);" id="sys_archi">
            <u>System Architectures</u>
            <ul ng-show="data.summ.architecture.length">
              <li ng-repeat="tasks in data.summ.architecture">{{tasks.name}}</li>
            </ul>
            <span ng-hide="data.summ.architecture.length" class="nonePadding"><br />None<br /></span>
          </div>

            <br />
            <table width="100%" style="padding-top:15px;">
              <tr>
                <td class="inTwo">
                  <u>HPC Computing</u>
                  <div class="p10 form-group">
                    <div ng-click="updateBubble($event);" id="hpc_runs">
                    <u>Total number of runs</u>
                    <input type="number" readonly ng-model="
                    data.summ.hpc.runs
                    ">
                  </div>
                      <div ng-click="updateBubble($event);" id="hpc_part_size">
                    <u>Average partition size (Number of processors)</u>
                    <input type="number" readonly ng-model="
                    data.summ.hpc.partition
                    ">
                  </div>
                      <div ng-click="updateBubble($event);" id="hpc_time">
                    <u>Time to solution (In hours)</u>
                    <input type="number" readonly ng-model="
                    data.summ.hpc.time
                    ">
                  </div>
                  </div>
                </td>
                <td class="inTwoEmptySeparator">
                </td>
                <td class="inTwo">
                  <u>HPC Storage</u>
                  <div class="p10 form-group">
                    <div ng-click="updateBubble($event);" id="hpc_storage">
                    <u>Number of artefacts</u>
                    <input type="number" readonly ng-model="
                    data.summ.hpc.numarte
                    ">
                  </div>
                      <div ng-click="updateBubble($event);" id="hpc_size_artefact">
                    <u>Average size of artefacts (in GB)</u>
                    <input type="number" readonly ng-model="
                    data.summ.hpc.sizearte
                    ">
                  </div>
                  </div>
                </td>
              </tr>
            </table>

            <div ng-click="updateBubble($event);" id="provider">
            <u>Providers</u>
            <ul ng-show="data.summ.architectureC.length">
              <li ng-repeat="tasks in data.summ.architectureC">{{tasks.name}}</li>
            </ul>
            <span ng-hide="data.summ.architectureC.length" class="nonePadding"><br />None<br /></span>
          </div>

            <br />
            <table>
              <tr>
                <td class="inTwo">
                  <u>Cloud Computing</u>
                  <div class="p10 form-group">
                    <div ng-click="updateBubble($event);" id="cloud_runs">
                    <u>Total number of runs</u>
                    <input type="number" readonly ng-model="
                    data.summ.cloud.runs
                    ">
                  </div>
                      <div ng-click="updateBubble($event);" id="cloud_part_size">
                    <u>Average partition size (Number of processors)</u>
                    <input type="number" readonly ng-model="
                    data.summ.cloud.partition
                    ">
                  </div>
                      <div ng-click="updateBubble($event);" id="cloud_time">
                    <u>Time to solution (In hours)</u>
                    <input type="number" readonly ng-model="
                    data.summ.cloud.time
                    ">
                  </div>
                  </div>
                </td>
                <td class="inTwoEmptySeparator">
                </td>
                <td class="inTwo">
                  <u>Cloud Storage</u>
                  <div class="p10 form-group">
                    <div ng-click="updateBubble($event);" id="cloud_storage">
                    <u>Number of artefacts</u>
                    <input type="number" readonly ng-model="
                    data.summ.cloud.numarte
                    ">
                  </div>
                      <div ng-click="updateBubble($event);" id="cloud_size_arte">
                    <u>Average size of artefacts (in GB)</u>
                    <input type="number" readonly ng-model="
                    data.summ.cloud.sizearte
                    ">
                  </div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="p10-5">
          <label>Hardware as a Service (HaaS)</label>
          <ul ng-show="data.summ.hardware.length">
            <li ng-repeat="hard in data.summ.hardware" ng-click="updateBubble($event);" id="hardware_{{$index}}"><b>{{hard.name}}</b>: {{hard.description}}<br />Price: {{hard.price}} CHF<br />{{hard.link}}</li>
          </ul>
          <span ng-hide="data.summ.hardware.length" class="nonePadding"><br />None<br /></span>
        </div>
      </div>
      <hr />
    </div>

    <div ng-show="data.select.proposal.projectType >= 1" >
      <input id="hr" type="checkbox" class="plusMinus" ng-model="hr" checked>
      <label for="hr" class="css-label"><span class="glyphicon glyphicon-plus"></span>
        <span class="glyphicon glyphicon-minus"></span> Human resources
      </label>

      <div ng-show="hr">
        <table>
          <td class="inTwo">
            <label>Name</label>
          </td>
          <td class="inTwo">
            <label>Total Person/Month</label>
          </td>
        </table>

        <div class="memberList" data-ng-model="data.summ.members">
          <div ng-repeat="member in data.summ.members">
            <table>
              <td class="inTwo" ng-click="updateBubble($event);" id="member_{{$index}}">
                {{member.name}}
              </td>
              <td class="inTwo">
                <input type="number" readonly class=""
                ng-model="member.pm" ng-click="updateBubble($event);" id="member_pm_{{$index}}">
              </td>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <div>
    <div ng-repeat="deli in data.select.proposal.deliverables">
      <input id="deli{{$index}}" type="checkbox" class="plusMinus" ng-model="deli.summaryShow">
      <label for="deli{{$index}}" class="css-label"><span class="glyphicon glyphicon-plus"></span>
        <span class="glyphicon glyphicon-minus"></span> Deliverable {{deli.name}}
      </label>
      <div class="p10" ng-show="deli.summaryShow">
        <input id="deli{{$index}}-summ" type="checkbox" class="plusMinus" ng-model="deli.info">
        <label for="deli{{$index}}-summ" class="css-label"><span class="glyphicon glyphicon-plus"></span>
          <span class="glyphicon glyphicon-minus"></span> Summary
        </label>
        <div ng-show="deli.info">
          <div class="form-group" ng-click="updateBubble($event);" id="deli_{{$index}}_name">
            <label>Name</label>
            <div>
              <input type="text" readonly value="{{deli.name}}">
            </div>
          </div>

          <div class="form-group" ng-click="updateBubble($event);" id="deli_{{$index}}_deliverydate">
            <label>Delivery Date</label><br />
            <input type="date" readonly value="{{deli.date | date:'yyyy-MM-dd'}}">
          </div>

          <div class="form-group" ng-click="updateBubble($event);" id="deli_{{$index}}_desc">
            <label>Description</label>
            <div>
              <textarea readonly>{{deli.desc}}</textarea>
            </div>
          </div>

          <div class="form-group" ng-click="updateBubble($event);" id="deli_{{$index}}_risks">
            <label>Risks</label>
            <div>
              <input type="text" readonly value="{{deli.risks}}">
            </div>
          </div>

          <div class="form-group" ng-click="updateBubble($event);" id="deli_{{$index}}_dependency">
            <label>Deliverable Dependencies</label>
            <ul ng-show="deli.dependency.length">
              <li ng-repeat="dep in deli.dependency">{{dep}}</li>
            </ul>
            <span ng-hide="deli.dependency.length" class="nonePadding"><br />None<br /></span>
          </div>

          <div class="form-group" ng-click="updateBubble($event);" id="deli_{{$index}}_requirements">
            <label>Requirement Dependencies</label>
            <ul ng-show="deli.requirements.length">
              <li ng-repeat="dep in deli.requirements">{{dep}}</li>
            </ul>
            <span ng-hide="deli.requirements.length" class="nonePadding"><br />None<br /></span>
          </div>
        </div>
        <hr />

        <input id="deli{{$index}}-comp" type="checkbox" class="plusMinus" ng-model="deli.compInfo">
        <label for="deli{{$index}}-comp" class="css-label"><span class="glyphicon glyphicon-plus"></span>
          <span class="glyphicon glyphicon-minus"></span> Computing, Storage and Services resources
        </label>
        <div ng-show="deli.compInfo">
          <div class="p10-5">
            <label>Software as a Service (SaaS)</label>
            <div class="p10">
              <table width="100%">
                <tr>
                  <td class="inTwo" ng-click="updateBubble($event);" id="deli_{{$index}}_soft_dev">
                    <u>Software development</u>
                    <ul ng-show="deli.softdev.length">
                      <li ng-repeat="soft in deli.softdev">{{soft.name}}</li>
                    </ul>
                    <span ng-hide="deli.softdev.length" class="nonePadding"><br />None<br /></span>
                  </td>
                  <td class="inTwoEmptySeparator">
                  </td>
                  <td class="inTwo" ng-click="updateBubble($event);" id="deli_{{$index}}_data_transfer">
                    <u>Data Transfer</u>
                    <ul ng-show="deli.datatransfer.length">
                      <li ng-repeat="collab in deli.datatransfer">{{datatransfer.name}}</li>
                    </ul>
                    <span ng-hide="deli.datatransfer.length" class="nonePadding"><br />None<br /></span>
                  </td>
                </tr>
              </table>
              <div ng-click="updateBubble($event);" id="deli_{{$index}}_collabs">
              <u>HBP Collab</u>
              <ul ng-show="deli.collabs.length">
                <li ng-repeat="collab in deli.collabs">{{collab.title}}</li>
              </ul>
              <span ng-hide="deli.collabs.length" class="nonePadding"><br />None<br /></span>
            </div>
            </div>
          </div>
          <div class="p10-5">
            <label>Platform as a Service (PaaS)</label>
            <div class="p10">
              <table width="100%">
                <tr>
                  <td class="inTwo" ng-click="updateBubble($event);" id="deli_{{$index}}_virtualization">
                    <u>Virtualization</u>
                    <ul ng-show="deli.virtualization.length">
                      <li ng-repeat="soft in deli.virtualization">{{soft.name}}</li>
                    </ul>
                    <span ng-hide="deli.virtualization.length" class="nonePadding"><br />None<br /></span>
                  </td>
                  <td class="inTwoEmptySeparator">
                  </td>
                  <td class="inTwo" ng-click="updateBubble($event);" id="deli_{{$index}}_dev_env">
                    <u>Development Environment</u>
                    <ul ng-show="deli.devenv.length">
                      <li ng-repeat="collab in deli.devenv">{{datatransfer.name}}</li>
                    </ul>
                    <span ng-hide="deli.devenv.length" class="nonePadding"><br />None<br /></span>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="p10-5">
            <label>Infrastructure as a Service (IaaS)</label>
            <div ng-show="data.select.proposal.projectType == 1" >
              <table width="100%" class="hpcList p10" ng-show="data.select.proposal.projectType == 1" >
                <td class="inTwo">
                  <div class="form-group" ng-click="updateBubble($event);" id="deli_{{$index}}_hpcSilv">
                    <input type="checkbox" ng-model="deli.hpcRessource" disabled="disabled"> HPC Ressources
                  </div>
                </td>
                <td class="inTwoEmptySeparator">
                </td>
                <td class="inTwo">
                  <div class="form-group" ng-click="updateBubble($event);" id="deli_{{$index}}_cloudSilv">
                    <input type="checkbox" ng-model="deli.cloudRessource" disabled="disabled"> Cloud Ressources
                  </div>
                </td>
              </table>
            </div>
            <div class="p10" ng-show="data.select.proposal.projectType >= 2" >
              <div ng-click="updateBubble($event);" id="deli_{{$index}}_archi">
              <u>Prefered Architecture</u>
              <ul ng-show="deli.architecture.length">
                <li ng-repeat="tasks in deli.architecture">{{tasks.name}}</li>
              </ul>
              <span ng-hide="deli.architecture.length" class="nonePadding"><br />None<br /></span>
            </div>
              <br />
              <table width="100%" style="padding-top:15px;"><tr>
                <td class="inTwo">
                  <u>HPC Computing</u>
                  <div class="p10 form-group">
                    <div ng-click="updateBubble($event);" id="deli_{{$index}}_hpc_runs">
                    <u>Total number of runs</u>
                    <input type="number" readonly ng-model="
                    deli.hpc.runs
                    ">
                    </div>
                    <div ng-click="updateBubble($event);" id="deli_{{$index}}_hpc_part_size">
                    <u>Average partition size (Number of processors)</u>
                    <input type="number" readonly ng-model="
                    deli.hpc.partition
                    ">
                    </div>
                    <div ng-click="updateBubble($event);" id="deli_{{$index}}_hpc_time">
                    <u>Time to solution (In hours)</u>
                    <input type="number" readonly ng-model="
                    deli.hpc.time
                    ">
                    </div>
                  </div>
                </td>
                <td class="inTwoEmptySeparator">
                </td>
                <td class="inTwo">
                  <u>HPC Storage</u>
                  <div class="p10 form-group">
                  <div ng-click="updateBubble($event);" id="deli_{{$index}}_hpc_arte">
                    <u>Number of artefacts</u>
                    <input type="number" readonly ng-model="
                    deli.hpc.numarte
                    ">
                    </div>
                    <div ng-click="updateBubble($event);" id="deli_{{$index}}_hpc_arte_size">
                    <u>Average size of artefacts (in GB)</u>
                    <input type="number" readonly ng-model="
                    deli.hpc.sizearte
                    ">
                    </div>
                  </div>
                </td>
              </tr>
            </table>

            <u>Prefered Cloud Architecture</u>
            <div ng-click="updateBubble($event);" id="deli_{{$index}}_cloud_archi">
            <ul ng-show="deli.architectureC.length">
              <li ng-repeat="tasks in deli.architectureC">{{tasks.name}}</li>
            </ul>
            <span ng-hide="deli.architectureC.length" class="nonePadding"><br />None<br /></span>
            </div>
            <br />
            <table>
              <tr>
                <td class="inTwo">
                  <u>Cloud Computing</u>
                  <div class="p10 form-group">
                  <div ng-click="updateBubble($event);" id="deli_{{$index}}_cloud_runs">
                    <u>Total number of runs</u>
                    <input type="number" readonly ng-model="
                    deli.cloud.runs
                    ">
                    </div>
                    <div ng-click="updateBubble($event);" id="deli_{{$index}}_cloud_part_size">
                    <u>Average partition size (Number of processors)</u>
                    <input type="number" readonly ng-model="
                    deli.cloud.partition
                    ">
                    </div>
                    <div ng-click="updateBubble($event);" id="deli_{{$index}}_cloud_time">
                    <u>Time to solution (In hours)</u>
                    <input type="number" readonly ng-model="
                    deli.cloud.time
                    ">
                    </div>
                  </div>
                </td>
                <td class="inTwoEmptySeparator">
                </td>
                <td class="inTwo">
                  <u>Cloud Storage</u>
                  <div class="p10 form-group">
                  <div ng-click="updateBubble($event);" id="deli_{{$index}}_cloud_part_arte">
                    <u>Number of artefacts</u>
                    <input type="number" readonly ng-model="
                    deli.cloud.numarte
                    ">
                    </div>
                    <div ng-click="updateBubble($event);" id="deli_{{$index}}_cloud_part_size_arte">
                    <u>Average size of artefacts (in GB)</u>
                    <input type="number" readonly ng-model="
                    deli.cloud.sizearte
                    ">
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="p10-5">
          <label>Hardware as a Service (HaaS)</label>
          <ul ng-show="deli.hardware.length">
            <li ng-repeat="hard in deli.hardware" ng-click="updateBubble($event);" id="deli_{{$parent.$index}}_hardware_{{$index}}"><b>{{hard.name}}</b>: {{hard.description}}<br />Price: {{hard.price}} CHF<br />{{hard.link}}</li>
          </ul>
          <span ng-hide="deli.hardware.length" class="nonePadding"><br />None<br /></span>
        </div>
      </div>

      <hr />

      <input id="deli{{$index}}-hr" type="checkbox" class="plusMinus" ng-model="deli.hr">
      <label for="deli{{$index}}-hr" class="css-label"><span class="glyphicon glyphicon-plus"></span>
        <span class="glyphicon glyphicon-minus"></span> Human resources
      </label>
      <div ng-show="deli.hr">
        <table>
          <td class="inTwo">
            <label>Name</label>
          </td>
          <td class="inTwo">
            <label>Total Person/Month</label>
          </td>
        </table>
        <div class="memberList" data-ng-model="deli.members">
          <div ng-repeat="member in deli.members">
            <table>
              <td class="inTwo" ng-click="updateBubble($event);" id="deli_{{$parent.$index}}_member_{{$index}}">
                {{member.name}}
              </td>
              <td class="inTwo" ng-click="updateBubble($event);" id="deli_{{$parent.$index}}_member_pm_{{$index}}">
                <input type="number" readonly class=""
                ng-model="member.pm">
              </td>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div ng-hide="data.select.loaded">
  <label>ERROR!</label><br />
  An error appeared during the loading of this proposal.<br />
  Please try reloading the page, if the problem persists contact an administrator of the website.
</div>
