<label>Summary of the review</label>

<table width="100%">
  <td class="inTwo">
    <div id="proposal">
      <div class="reviewButtonFrame">
        <div class="btn btn-default reviewButton" onclick="goTo(this);">Add or see comments ({{data.select.comments.length}} comments)</div>
      </div>
    </div>
  </td>
  <td class="inTwoEmptySeparator">
  </td>
  <td class="inTwo">
    <div id="note">
      <div class="reviewButtonFrame">
        <div class="btn btn-default reviewButton" onclick="goTo(this);">Add or see notes ({{data.select.notes.length}} notes)</div>
      </div>
    </div>
  </td>
</table>

<hr />
<label>Grade</label>
<div id="summary" class="reviewButtonFrame">
  <div class="centeredText"><label>{{grade}}</label><br />({{reviewing.length}} reviews)
  </div>
</div>

<script>
function goTo(div){
  var _open = window.open(window.location.href +'/'+ div.parentNode.parentNode.id, "_self");
}
</script>
