<div ng-repeat="project in data.projects">
  <div class="listElement evenElement{{$even}}" >
  <div ng-repeat="proposal in data.proposals | filter: {_id : project.proposal}">
    <div id="{{proposal._id}}" onclick="goTo(this.id);">
      <div ng-repeat="sub in data.submissions | filter: {_id : proposal.submission}">
        <div ng-repeat="rev in data.generalReviews | filter:{_id : project.review}">
          <div class="typeSquare" >
            <div class="typePicture typePicture{{sub.projectType}}" alt={{sub.projectType}}>
              <div class="statusPicture">
                <span ng-show="rev.status == 'submitted'" class="glyphicon glyphicon-question-sign statusPicture"></span>
                <span ng-show="rev.status == 'reviewing'" class="glyphicon glyphicon-exclamation-sign statusPicture"></span>
                <span ng-show="rev.status == 'accepted'" class="glyphicon glyphicon-ok-sign statusPicture"></span>
                <span ng-show="rev.status == 'rejected'" class="glyphicon glyphicon-remove-sign statusPicture"></span>
              </div>
            </div>
          </div>
          <b>{{sub.projectTitle}}</b><hr class="smallHr" />
          <i ng-repeat="p in data.persons | filter:{_id : proposal.author}">{{p.displayName}}</i><br />
          {{sub.projectStartDate | date: "mediumDate"}} - {{sub.projectEndDate | date: "mediumDate"}}<br/>
          <div ng-show="rev.status == 'submitted'" style="text-align:right;"><u>Submitted:</u> {{proposal.subDate | date: "mediumDate"}}</div>
          <div ng-show="rev.status == 'reviewing'" style="text-align:right;"><u>Last review:</u> {{proposal.subDate | date: "mediumDate"}}</div>
          <div ng-show="rev.status == 'accepted'" style="text-align:right;"><u>Accepted:</u> {{proposal.subDate | date: "mediumDate"}}</div>
          <div ng-show="rev.status == 'rejected'" style="text-align:right;"><u>Rejected:</u> {{proposal.subDate | date: "mediumDate"}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
  <hr />
</div>
<!-- For tests
<pre>
{{ data | json }}
</pre>
-->
<script>
function goTo(address, $window){
  console.log('go to ', address);
  var _open = window.open('/#/review/'+address.replace(/\s+/g, ''), "_self");
}

</script>
