<div ng-repeat="proposal in data.proposals">
  <div id="{{proposal._id}}" class="listElement evenElement{{$even}}" onclick="goTo(this.id);">
    <div ng-repeat="sub in data.submissions | filter:{_id : proposal.submission}">
    <div class="typeSquare">
      <p class="typePicture{{sub.projectType}}" alt={{sub.projectType}}>
      </p>
    </div>
    <b>{{sub.projectTitle}}</b><hr class="smallHr" />
    <i ng-repeat="p in data.persons | filter:{_id : proposal.author}">{{p.name}}</i><br />
    {{sub.projectStartDate}} - {{sub.projectEndDate}}<br/>
    <div style="text-align:right;"><u>Submitted:</u> {{proposal.subDate}}</div>
  </div>
</div>
  <hr />
</div>
 <!-- For tests
      <pre>
        {{ proposals | json }}
      </pre>
      -->
<script>
function goTo(address, $window){
  console.log('go to ', address);
  var _open = window.open('/#/review/'+address.replace(/\s+/g, ''), "_self");
}

</script>
